<div class="item_header">
  <b>First_id:</b> <%=h @item.first_id %> |
  <b>Version:</b> <%=h @item.version %> |
  <b>Deleted:</b> <%=h @item.deleted %> |
  <b><%= link_to 'Edit', edit_item_path(@item) %></b> |
  <b><%= link_to 'Back', items_path %></b>
</div>

<hr/>
<div class="item_content">
  <%= @item.to_html %>
</div>
<hr/>
<div class="item_metas">
  <%= @item.to_metas.inspect %>
</div>
